indigo/MyServicesAxis1/WebContent/wsdl/HolaWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://start.mx" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://start.mx" xmlns:intf="http://start.mx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://start.mx" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="saluda">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="saludaResponse">
    <complexType>
     <sequence>
      <element name="saludaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="saludaResponse">

      <wsdl:part element="impl:saludaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saludaRequest">

      <wsdl:part element="impl:saluda" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HolaWS">

      <wsdl:operation name="saluda">

         <wsdl:input message="impl:saludaRequest" name="saludaRequest">

       </wsdl:input>

         <wsdl:output message="impl:saludaResponse" name="saludaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HolaWSSoapBinding" type="impl:HolaWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="saluda">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saludaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saludaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HolaWSService">

      <wsdl:port binding="impl:HolaWSSoapBinding" name="HolaWS">

         <wsdlsoap:address location="http://localhost:8080/MyServicesAxis1/services/HolaWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
